<div>
    <!-- does not work currently <button (click)="randomizeSize()">Randomize Size</button> -->
    <button (click)="triggerResize()">Trigger Resize</button>
    <button (click)="toggleHeight(height)">Toggle Height (is: {{height}}; Max Height: {{maxHeight | number:'1.0-0'}})</button>
    <button (click)="toggleSide(side)">Toggle side (is: {{side}})</button>
</div>
<div [style]="{width: (!fullWidth) ? '100%' : '600px', 'height': ((maxHeight < height) ? maxHeight : height) + 'px', border: '1px solid black', position: 'relative'}">
    <lib-image-merge-frontend
            [layerImage]="layerImage"
            [resizeThrottled$]="resize$"
            [maxHeight]="height"
            [moveTo]="side"
            (currentMaxHeightChange)="maxHeight = $event"
    ></lib-image-merge-frontend>
</div>
